<p>
  wizard-modal-card works!
</p>

<!-- 
for each questionView in question_views 
		


-->

<mat-horizontal-stepper [linear]="true" #stepper>
		<mat-step *ngFor="view in question_views.viewList" [stepContro]="idk_what_this_is">
			<form>
		      <ng-template matStepLabel>{{view.viewName}}</ng-template>
		      <mat-form-field *ngFor="question in view.viewQuestions">
		        <input matInput [placeholder]="question.question_name" formControlName="firstCtrl" [required]="question.required">
		      </mat-form-field>
		      <div>
		        <button mat-button matStepperNext>Next</button>
		      </div>				
			</form>
		</mat-step>
</mat-horizontal-stepper>