<div *ngIf="formsReady">


<div *ngIf="direction === 'vertical'">
  <mat-vertical-stepper linear #stepper >

  <!-- todo: Find a better way of providing conditional than just cut and pasting the middle of horizontal and vertical. -->

    <mat-step *ngFor="let formGroup of formGroups; let i = index;" [stepControl]="formGroup.group">
      <ng-template matStepLabel>{{ formGroup.label }}</ng-template>
      <form [formGroup]="formGroup.group">
        <div *ngFor="let question of formGroup.questions">
          <app-step-form-input [formGroup]="formGroup.group" [inputType]="question.type"
                               [placeholder]="!!question.placeholder ? question.placeholder : ''"
                               [label]="question.label" [selectOptions]="!! question.selectOptions ? question.selectOptions : []" [id]="question.id" 
                               ></app-step-form-input>
        </div>
        <div>
          <button *ngIf="i > 0" mat-raised-button color="accent" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext (click)="snapshotModel()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{ finishedMessage.label }}</ng-template>
      {{ finishedMessage.text }}
      <div>
        <button mat-raised-button matStepperPrevious color="accent">Back</button>
        <button mat-raised-button (click)="stepper.reset()" color="danger">Reset</button>
        <button mat-raised-button color="primary">Done</button>
      </div>
    </mat-step>

  </mat-vertical-stepper>
</div>

<!--div *ngIf="direction === 'horizontal'">
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step *ngFor="let formGroup of formGroups; let i = index;" [stepControl]="formGroup.group">
      <ng-template matStepLabel>{{ formGroup.label }}</ng-template>
      <form [formGroup]="formGroup.group">
        <div *ngFor="let question of formGroup.questions">
          <app-step-form-input [formGroup]="formGroup.group" [inputType]="question.type"
                               [placeholder]="!!question.placeholder ? question.placeholder : ''"
                               [label]="question.label" [selectOptions]="[]" [id]="question.id"></app-step-form-input>
        </div>
        <div>
          <button *ngIf="i > 0" mat-raised-button color="accent" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext (click)="snapshotModel()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{ finishedMessage.label }}</ng-template>
      {{ finishedMessage.text }}
      <div>
        <button mat-raised-button matStepperPrevious color="accent">Back</button>
        <button mat-raised-button (click)="stepper.reset()" color="danger">Reset</button>
        <button mat-raised-button color="primary">Done</button>
      </div>
    </mat-step>

  </mat-horizontal-stepper>
</div-->


</div>