<div [formGroup]="formGroup">

  <label *ngIf="label">
    {{label}}
  </label>

  <mat-form-field *ngIf="inputType === 'text'">
    <input matInput [placeholder]="placeholder" [formControlName]="id">
  </mat-form-field>

  <mat-form-field *ngIf="inputType === 'textarea'">
    <textarea matInput [placeholder]="placeholder" [formControlName]="id"></textarea>
  </mat-form-field>

  <!--Todo: Needs Select / Scrub / Date Picker -->
</div>

  <!--<mat-form-field *ngIf="inputType === 'select'">-->
    <!--<mat-select [formControl]="formControl" (selectionChange)="onValueChange()">-->
      <!--<mat-option *ngFor="let option of selectOptions" value="option" >{{option}}</mat-option>-->
    <!--</mat-select>-->
  <!--</mat-form-field>-->
