<div [formGroup]="formGroup">

  <label *ngIf="label">
    {{label}}
  </label>

  <mat-form-field *ngIf="inputType === 'text'">
    <input matInput [placeholder]="placeholder" [formControlName]="id">
  </mat-form-field>

  <mat-form-field *ngIf="inputType === 'textarea'">
    <textarea matInput [placeholder]="placeholder" [formControlName]="id"></textarea>
  </mat-form-field>

  <!--Todo: Needs Select / Scrub / Date Picker -->

  <mat-form-field *ngIf="inputType === 'select' && id ==='State'">
    <mat-select matInput [formControlName]="id">
      <mat-option *ngFor="let option of selectOptions" [value]="option">{{option}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="inputType === 'number'">
    <input matInput placeholder="0" [formControlName]="id">
  </mat-form-field>

  <mat-form-field *ngIf="inputType === 'date'">
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div *ngIf="inputType === 'autoComplete'">
    <app-autocomplete-input [strictOption]="true"></app-autocomplete-input>
  </div>

</div>

  <!--<mat-form-field *ngIf="inputType === 'select'">-->
    <!--<mat-select [formControl]="formControl" (selectionChange)="onValueChange()">-->
      <!--<mat-option *ngFor="let option of selectOptions" value="option" >{{option}}</mat-option>-->
    <!--</mat-select>-->
  <!--</mat-form-field>-->
