<form (submit)="verifyAnswers()">

	<h2>{{name_last}}</h2>


	<!-- For each question in the "questions object", add one div with the class depending on the response type -->
	<div *ngFor="let question of questions" class="question_"+{{question.response_type}}>
		<!-- Fetch the question's question -->
		<label *ngFor="let question of questions">{{question.question_q}}: </label>

		<!-- Listen for the user's response and store it in an equivalent item in the controller (model?  Whatever the tempate is) -->
		<input *ngFor="let question of questions" name="name_input_last" (input)="wizard-form$event.target.value" [(ngModel)]={{name_last}} />
	</div>


	<button (click)="onclick()">SUBMIT</button>
</form>
