
/*
	style questions: 

	Shoule we make there be a containing div that's a flexbox around the whole thing?;

*/



div {
	background-color: #322a38;
}


h2{

}

label{

}

input{

}

button{
	
}

.form{
	
}

.help_text_circle{
	background-color: #F2E9E9;
}

.question_label_text{
	color: #E5E5E5;

}