<form id = "answer_form">

	<!-- For each question in the "questions object", add one div with the class depending on the response type -->
		<!-- Fetch the question's question -->
	<div *ngFor="let question of questions_list">
		<label>{{question.question_name}}:</label>
		<!-- Listen for the user's response and store it in an equivalent item in the controller (model?  Whatever the tempate is) -->
		<input name="question.question_name" (input)="wizard-form$event.target.value"  />
	</div>


	<button (click)="submitForm()">SUBMIT</button>

</form>
