
<!--The content below is only a placeholder and can be replaced.-->
    <h1 class="welcome_text">Welcome to {{ title }}</h1>


<div class = "wizard_start_modal_1">
  <h3 class = "welcome_modal_walkthru_1">This wizard will to ask you a series of questions.  Answer the following questions to assemble the necessary legal documents</h3>
</div>


<div class = "wizard_start_modal_2">
	<h3 class = "welcome_modal_walkthru_1">It's important that you answer the questions as accurately as possible.</h3>
</div>

<div class = "wizard_start_modal_3">
  <h3>To help answer the following questions, please have the following documents ready:</h3>

  <app-user-documents-list></app-user-documents-list>
</div>



<app-wizard-form></app-wizard-form>

<router-outlet></router-outlet>
